body{
  margin: 0;
  height, width: auto;
  font-family: Tahoma, Times New Roman;
  background: #353839;
  color: #eae0c8;
}
#title,
.fade,
#rps{
  font-family: Tahoma, Times New Roman;
  text-align: center;
}
#rps{
  font-size: 15px;
}
